#side-panel {
    position: relative; 
    flex-shrink: 0; 
    
    height: 100%;
    width: 320px;
    background-color: #2F4F3E;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 1000;
    transition: margin-left 0.3s ease, transform 0.3s ease;
}

#side-panel.hidden {
    left: -250px;
}

#side-panel a {
    color: inherit;
    text-decoration: none;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.top-bar img {
    height: 30px;
    width: auto;
}

.top-bar button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.panel-operations {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 60px;
}

.panel-operations .item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 15px;
    background-color: rgb(15, 50, 35);
    border-radius: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.panel-operations .item:hover {
    background-color: #3e6652; 
}

.chat-history {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 5px; 
}


.conversation {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    
    font-size: larger;
    padding: 15px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-decoration: none;
    color: white;
}

.conversation:hover {
    background-color: rgb(15, 50, 35);
}

.delete-btn {
    background: transparent;
    border: none;
    color: #ff6b6b; 
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    
    opacity: 0;
    transition: opacity 0.2s ease-in-out, background-color 0.2s;
}

.delete-btn:hover {
    background-color: rgba(255, 0, 0, 0.2);
}

.conversation:hover .delete-btn {
    opacity: 1;
}